button:hover{
    background-color: #dd00ff;
    cursor: pointer;
    color: white;
}
button{
    background-color: azure;
    width: 8rem;
    margin-top: 0.5rem;
    border-radius: 5rem;
}
body{
    border: 2px solid black;
    text-align: center;
    width: 50rem;
    height: 8rem;
    margin: auto;
    margin-top: 250px;
    background-color: aqua;
    border-radius: 3rem;
    }
    body{
        background-color: blanchedalmond;
    }